@font-face {
  font-family: Tommaso;
  src: url('./Assets/Tommaso.ttf');
}

ul {
  padding: 0;
}

.App{
  margin: 0 50px;
}

.list-food{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.box{
  width: 100% !important;
}
.isoTipo{
  max-width: 80vw;
  margin: 80px auto;
  text-align: center;
}

.food-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-box {
  text-align: left;
}

a:link {
  text-decoration: inherit;
}

a:visited {
  text-decoration: inherit;
}

