@font-face {
  font-family: OPTIImprovNewWideNine;
  src: url("./Assets/OPTIImprovNewWideNine.ttf");
}

@font-face {
  font-family: Grotta;
  src: url("./Assets/Grotta-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.home {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 34%,
    rgba(255, 255, 255, 1) 53%,
    rgba(0, 0, 0, 1) 71%,
    rgba(0, 0, 0, 1) 100%
  );
}

.toggle-btn {
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
  z-index: 5;
}

.toggle-btn span {
  display: block;
  width: 5vh;
  height: 5vh;
  background-color: lawngreen;
  border-radius: 50%;
}

.nav {
  width: 40%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: #000000;
  left: -60%;
  transition: 400ms all;
}

.nav-active {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: #000000;
  left: 0;
  transition: 400ms all;
}

.nav-content {
  height: 100%;
  width: 90%;
  align-items: center;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  margin-top: 20vh;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: calc(100vh / 50) 5vw;
  font-family: OPTIImprovNewWideNine;
  text-decoration: none;
  font-weight: 300;
  color: whitesmoke;
  font-size: 1em;
  text-transform: uppercase;
}

.nav-links li a {
  font-family: OPTIImprovNewWideNine;
  text-decoration: none;
  font-weight: 300;
  color: whitesmoke;
  font-size: 2em;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: rgb(41, 41, 41);
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}

/*  ///////////////////////////////////////////////////// MENUQR  ///////////////////////////////// */
/*  //////////////////////////////////////////////////////////////////////////////////////////////// */
.img-qr{
  width: 65%;
  margin: 0 auto;
  padding-top: 80px;

}
.img-qr-container {
  text-align: center;
  height: 80vh;
}

/*grid desktop contact*/

.grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 
    ". . ." ". . ." ". . .";
}

.grid-container > li {
  text-align: center;
  list-style-type: none;
}

.buttons-caption-qr-container {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  position: relative;
}

.button-qr {
  margin: auto;
  padding: 13px 10px;
  border-radius: 25px;
  width: 50%;
  text-align: center;
}

.buttons-container-qr a {
  text-decoration: none;
}

.mi-qarta-header {
  font-family: Grotta !important;
  font-size: 2em;
  margin-right: auto;
}

.QR-text {
  width: 42%;
  margin:auto;
  font-size: small;  
  font-weight: 200;
}

.QR2 {
  background-color: transparent;
  color: #ff1369;
  border: 1px solid #ff1369;
}

.MenuQR *{
  box-sizing:content-box
}
.carrousel-container {
  overflow-x: scroll;
  height: 100vh;
  background-image: url("./Assets/fondo\ menuÌ\ mobile\ entero.png");
  background-position: center;
  background-repeat: repeat;
  background-attachment: local;
  background-size: cover;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.section-qr-container {
  min-width: 100vw;
  max-width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 1px 1px;
  grid-template-areas: "." ".";
  scroll-snap-align: center;
}

.carrousel-container::-webkit-scrollbar {
  display: none !important;
}

.benefit-list {
  width: 231px;
  list-style: url("./Assets/plus-list.png");
}

.references-container {
  margin: auto;
  background-color: white;
  width: 55vw;
  padding: 40px 20px;
  border-radius: 25px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.references-container * {
  margin: auto auto auto 0;
}

.references-container h1 {
  color: #ff1369;
}

.references-container p,
h6 {
  color: #3e3b3b;
}

#arrow-right {
  position: absolute;
  right: 10px;
  margin: auto;
  width: 10px;
  z-index: 1 !important;
  font-size: 1.3em;
  transform: translate(-20px, 93vh);
  cursor: pointer;
}

.carrousel-container {
  overflow-x: scroll;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.carrousel-section {
  min-width: 100vw;
}

/*  ///////////////////////////////////////////////////// NOSOTROS  ///////////////////////////////// */
/*  //////////////////////////////////////////////////////////////////////////////////////////////// */


.Nosotros {
  margin: 10% auto;
  padding-top: 10%;
  height: 100vh;
  max-width: 90vw;
  align-self: baseline;
}


.nosotres-texto {
  font-family: OPTIImprovNewWideNine;
  color: black;
  word-wrap: break-word;
  letter-spacing: 0.04em;
  line-height: 1em;
  font-size: 3em;
}

/*  ///////////////////////////////////////////////////// CONTACTO  ///////////////////////////////// */
/*  //////////////////////////////////////////////////////////////////////////////////////////////// */

#Contacto-container {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 20% 20% 18% 18% 18%;
  grid-template-rows: 25% 25%;
  gap: 1px 1px;
  grid-template-areas: ". . . . ." ". . . . .";
}

.contact-logo {
  width: 350px;
  padding: 0 20%;
}

.contact-arrow {
  width: 60px;
}

.social {
  display: flex;
  flex-flow: column;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#Contacto-container h3 {
  font-family: Grotta;
  font-size: 1.1em;
}

.grey {
  color: grey !important;
}

.mail {
  color: #ff1369 !important;
}

/*  //////////////////////////////////////////SERVICIOS////////////////////////////////////////////////////// */

.marquee-wrap {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.marquee-wrap,
.marquee-wrap ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.marquee-wrap > li {
  display: flex;
  align-items: center;
  width: var(--scroller-size);
  will-change: transform;
  animation: text-scroller 7500ms linear 0ms normal infinite;
  text-indent: 0;
  justify-content: space-around;
  -webkit-transition: all 3000ms linear 0ms;
  -moz-transition: all 3000ms linear 0ms;
  -ms-transition: all 3000ms linear 0ms;
  -o-transition: all 3000ms linear 0ms;
  transition: all 3000ms linear 0ms;
  white-space: nowrap;
}

@keyframes text-scroller {
  100% {
    transform: translateX(calc(var(--scroller-size) * -0.5));
  }
}
.marquee-wrap > li:nth-child(2) {
  animation-direction: reverse;
  color: blue;
}

.marquee-wrap > li:nth-child(4) {
  animation-direction: reverse;
  color: blue;
}

.marquee-wrap > li:nth-child(6) {
  animation-direction: reverse;
  color: blue;
}

.marquee-wrap > li > ul li {
  display: inline-block;
  padding: 0.5vh 4vw;
  font-size: 13.2vh;
  text-transform: uppercase;
}

:root {
  --scroller-size: 150vw;
}

@media only screen and (max-width: 600px) {
  :root {
    --scroller-size: 200vw;
  }
}

.marquee-wrap li {
  font-family: Grotta;
  color: lawngreen;
  border-bottom: 1px solid lawngreen;
}

/*  //////////////////////////////////////////QUERY MOBIL////////////////////////////////////////////////////// */
@media screen and (max-width: 450px) {
  .nav-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: whitesmoke;
  }
 .header-QR {
    font-size: 1.8em !important;
    margin: auto;

  }
  .nosotres-texto {
    font-size: 1.5em;
    margin: 10% 2%;
    padding: 10% 2%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    list-style: url("./Assets/plus-list.png");
  }

  .grid-container > li {
    align-self: baseline;
    
  }

  .mi-qarta-header {
    font-family: Grotta !important;
    font-size: 2.3em;
    padding: 5%;
  }

  .header-QR {
    font-size: 2.4em !important;
     margin-right: auto;
     margin-left:6%;
     margin-top: auto;
     margin-bottom:auto;

  }
    }

/* //////////////////////// MEDIA QUERY IPHONE 5   ////*/

@media screen and (device-aspect-ratio: 40/71) {
  .nosotres-texto {
    font-size: 1.35em;
    margin: 10% 2%;
    padding: 10% 2%;
  }
}

/* //////////////////////// MEDIA QUERY IPHONEPLUS   ////*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .nosotres-texto {
    font-size: 1.65em;
    margin: 10% 2%;
    padding: 10% 2%;
  }

}

/* //////////////////////// MEDIA QUERY GALAXY   ////*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .nosotres-texto {
    font-size: 1.5em;
    margin: 9% 2%;
    padding: 9% 2%;
  }
}

/* //////////////////////// MEDIA QUERY IPADPRO   ////*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .nosotres-texto {
    font-size: 3.6em;
    margin: 8% 2%;
    padding: 8% 2%;
  }
}


/*  //////////////////////////////////////////LINK PREDETERMINED STYLE OVERWRITE////////////////////////////////////////////////////// */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
