
@font-face {
  font-family: Grotta;
  src: url("./Assets/Grotta-Regular.ttf");
}
@font-face {
  font-family: Agrandir-GrandHeavy;
  src: url("./Assets/Agrandir-GrandHeavy.ttf");
}

@font-face {
  font-family: Agrandir-WideLight;
  src: url("./Assets/Agrandir-WideLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

.home {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 34%,
    rgba(255, 255, 255, 1) 53%,
    rgba(0, 0, 0, 1) 76%,
    rgba(0, 0, 0, 1) 100%
  ) ;
}

.toggle-btn {
  position: fixed;
  top: 6%;
  left: 5%;
  cursor: pointer;
  z-index: 5;

}
 
.toggle-btn span {
  transition: all ease 400ms;
  position: fixed;
  display: block;
  width: 5vh;
  height: 5vh;
  background-color: lawngreen;
}

.toggle-btn .abierto1 {
   border-radius: 50%;
  
}

.toggle-btn .cerrado1 {
  height: 0.6vh;
  transform:translateY(200%) rotate(90deg) ;
 
}

.toggle-btn .cerrado2 {
  height: 0.6vh;
  transform: translateY(200%)rotate(0deg) ;
 
}


.nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: transparent;
  left: -100%;
  transition: 400ms all;
}

.nav-active {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: #000000;
  left: 0;
  transition: 400ms all;
}

.nav-content {
  height: 100%;
  width: 90%;
  align-items: center;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  margin-top: 20vh;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: calc(100vh / 50) 5vw;
}

.nav-links li a {
  font-family: Agrandir-GrandHeavy;
  text-decoration: none;
  font-weight: 300;
  color: whitesmoke;
  font-size: 2em;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: rgb(41, 41, 41);
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}


/*  ///////////////////////////////////////////////////// NOSOTROS  ///////////////////////////////// */
/*  //////////////////////////////////////////////////////////////////////////////////////////////// */


.Nosotros {
  margin: 10% auto;
  padding-top: 10%;
  height: 100vh;
  max-width: 90vw;
  align-self: baseline;
 
}
@keyframes example {
  from {color:white}
  to {color:black}
}

.nosotres-texto {
  font-family: Agrandir-GrandHeavy;
  color: black;
  word-wrap: break-word;
  letter-spacing: 0.08em;
  line-height: 1em;
  font-size: 3em;
  animation-name: example;
  animation-duration: 0.6s;
}



/*  ///////////////////////////////////////////////////// CONTACTO  ///////////////////////////////// */
/*  //////////////////////////////////////////////////////////////////////////////////////////////// */



#Contacto{
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 20% 20% 18% 18% 18%;
  grid-template-rows: 25% 25%;
  gap: 1px 1px;
  grid-template-areas: ". . . . ." ". . . . .";
}

.contact-logo {
  width: 350px;
  padding: 0 20%;
}

.contact-arrow {
  width: 60px;
  text-align: right;
}

.logo-flecha {
  text-align: center;
}

.bottom {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

#Contacto h3 {
  font-family: Agrandir-WideLight;
  font-size: 1.2em;
}

.grey {
  color: grey !important;
}

.mail {
  color: lawngreen !important;
}

/*  //////////////////////////////////////////SERVICIOS////////////////////////////////////////////////////// */

:root {
  --scroller-size: 150vw;
}

@media only screen and (max-width: 600px) {
  :root {
    --scroller-size: 200vw;
  }
}

/*  //////////////////////////////////////////QUERY MOBIL////////////////////////////////////////////////////// */
@media screen and (max-width: 450px) {
  .nav-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: whitesmoke;
  }

  .nosotres-texto {
    font-size: 1.5em;
    margin: 10% 2%;
    padding: 10% 2%;

  }

  .contact-logo {
    width: 200px;
    padding: 0 15%;
  }

  .contact-arrow {
    width: 50%;
  }

    #Contacto {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      align-content: center;
      justify-content: center;
      max-width: 90%;
      gap: 1px 1px;
      grid-template-areas: "logo general" "div-vacio1 social" "div-vacio2 studio" "div-vacio3 createdby" "logo-flecha allrights";
    }
  
    
  #Contacto > div {
      display: flex;
      font-size: 0.75em
    }
  .createdby {
  grid-area: createdby;
}

.collabostudio {
  display: none;
}

.logo{
  grid-area: logo;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 4%;
}

.general {
  grid-area: general;
  flex-flow: column;
  justify-content: flex-end;
}

.social {
  grid-area: social;
  flex-flow: column;
  justify-content: flex-end;
}

.div-vacio2 {
  grid-area: div-vacio2;
}

.studio {
  grid-area: studio;
  flex-flow: column;
justify-content: flex-end;
}

.logo-flecha {
  grid-area: logo-flecha;
  width: 60%;
}

.allrights {
  grid-area: allrights;
  align-self: flex-start;
  margin-top: 15%
}

.header-QR {
  margin: auto auto auto 14%;
  font-size: 2em !important;
 }

 .references-container {
  width: 60vw;
}

.references-container h1 {
    font-size: 1.5em;
    letter-spacing: 3px;
}
}

/* //////////////////////// MEDIA QUERY IPHONE X   ////////////////////////*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
  .nosotres-texto {
    font-size: 1.68em;
    margin: 10% 2%;
    padding: 10% 2%;
  }
    }

/* //////////////////////// MEDIA QUERY IPHONE 5   ////*/

@media screen and (device-aspect-ratio: 40/71) {
  .nosotres-texto {
    font-size: 1.35em;
    margin: 10% 2%;
    padding: 10% 2%;
  }
}

/* //////////////////////// MEDIA QUERY IPHONEPLUS   ////*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .nosotres-texto {
    font-size: 1.65em;
    margin: 10% 2%;
    padding: 10% 2%;
  }
}

/* //////////////////////// MEDIA QUERY GALAXY   ////*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .nosotres-texto {
    font-size: 1.5em;
    margin: 9% 2%;
    padding: 9% 2%;
  }
}

/* //////////////////////// MEDIA QUERY IPADPRO  ////*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  .nosotres-texto {
  font-size: 3.6em;
  margin: 8% 2%;
  padding: 8% 2%;
}
}


/* //////////////////////// MEDIA QUERY 600  ////*/

@media screen and (max-width: 600px) {
  .text-nos{
    font-size: 5.1vw !important;
    font-weight: 900;
    color: lawngreen !important;
  }
  .section-nos{
    max-height: 3rem !important;
    width: 200vw;
   display: flex;
   overflow: hidden;
  
  }
 
 #Contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "logo general" "div-vacio1 social" "div-vacio2 studio" "div-vacio3 createdby" "logo-flecha allrights";
}
.createdby {
grid-area: createdby;
}
.logo{
grid-area: logo;
}

.general {
grid-area: general;
}

.social {
grid-area: social;
}

.div-vacio2 {
grid-area: div-vacio2;
}

.studio {
grid-area: studio;
}

.logo-flecha {
grid-area: logo-flecha;
}

.allrights {
grid-area: allrights;
}
 }

/*  //////////////////////////////////////////LINK PREDETERMINED STYLE OVERWRITE////////////////////////////////////////////////////// */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.section-nos{
  max-height: 20vh;
  width: 300vw;
 display: flex;
 overflow: hidden;
 border: 1px solid lawngreen;
 padding: 5px 0;

}
.text-nos{
  font-family: Grotta;
  font-size: 5vw;
  font-weight: 900;
  color: lawngreen !important;
}
#quehacemos{
  overflow: hidden;
}
